In [4]:
s1 = str("hello")

In [7]:
s1[0:2:2]

'h'

In [9]:
s1[::-1]

'olleh'

In [10]:
"hello world one"
"hello world two"

'hello world two'

In [11]:
print("hello world one")
print("hello world two")

hello world one
hello world two

In [12]:
print('hello world')

hello world

In [13]:
print('hello \n world')

hello
 world

In [14]:
print('hello \nworld')

hello
world

In [15]:
print('hello \tworld')

hello 	world

In [16]:
len('hello')

5

In [17]:
len('I am')

4

In [18]:
mystring = "Hello World"

In [19]:
mystring

'Hello World'

In [20]:
mystring[0]

'H'

In [21]:
mystring[-1]

'd'

In [22]:
mystring[8]

'r'

In [23]:
mystring[-2]

'l'

In [24]:
mystring

'Hello World'

In [41]:
mystring = 'abcdefghijk'

In [26]:
mystring

'abcdefghijk'

In [27]:
mystring[2:]

'cdefghijk'

In [28]:
mystring[:3]

'abc'

In [30]:
mystring[3:6]

'def'

In [31]:
mystring[1:3]

'bc'

In [32]:
mystring[::2]

'acegik'

In [33]:
mystring[::3]

'adgj'

In [34]:
mystring[2:7:2]

'ceg'

In [35]:
mystring[::-1]

'kjihgfedcba'

In [58]:
count = len(mystring) - 1
for i in (range(count+1)):
    print(mystring[count],end="")
    count -= 1

kjihgfedcba

In [48]:
count = len(mystring)

In [49]:
count

11

In [59]:
'Hello World'[-3]

'r'

In [60]:
name = "Sam"

In [62]:
#name[0] = 'P'

In [63]:
last_letters = name[1:]

In [64]:
last_letters

'am'

In [65]:
'P' + last_letters

'Pam'

In [66]:
x = 'Hello World'

In [67]:
x + " it is beautiful outside!"

'Hello World it is beautiful outside!'

In [68]:
letter = 'z'

In [69]:
letter * 10

'zzzzzzzzzz'

In [70]:
'2' + '3'

'23'

In [71]:
x = 'Hello World'

In [73]:
x.swapcase()

'hELLO wORLD'

In [74]:
x.casefold()

'hello world'

In [75]:
x.upper()

'HELLO WORLD'

In [76]:
x.split()

['Hello', 'World']

In [78]:
x.split('l')

['He', '', 'o Wor', 'd']

In [79]:
my_name = 'Jose'

In [80]:
print("Hello " + my_name)

Hello Jose

In [81]:
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [82]:
print('The {} {} {}'.format('fox','brown','quick'))

The fox brown quick

In [83]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [84]:
print('The {q} {b} {f}'.format(f='fox',b='brown',q='quick'))

The quick brown fox

Float Formatting Using .format()

In [85]:
result = 100/777

In [86]:
result

0.1287001287001287

In [87]:
print("The result was {}".format(result))

The result was 0.1287001287001287

In [88]:
print("The result was {r}".format(r=result))

The result was 0.1287001287001287

In [91]:
print("The result was {r:1.3f}".format(r=result))

The result was 0.129

In [90]:
print("The result was {r:10.3f}".format(r=result))

The result was      0.129

In [92]:
result = 104.12345

In [94]:
print("The result was {r:1.2f}".format(r=result))

The result was 104.12

Float Formatting Using f-strings

In [95]:
name = 'Jose'

In [96]:
print(f'Hello, his name is {name}')

Hello, his name is Jose

In [97]:
name = 'Sam'
age = 3

In [99]:
print(f'{name} is {age} years old.')

Sam is 3 years old.