1. Sum "A+B"

In [2]:
def sum_two(a,b):
    print(a + b)
    
sum_two(11844,3091)

14935

2. Sum in Loop

In [4]:
def sum_nums(*args):
    result = 0
    for arg in args:
        result += arg
    return result

total = sum_nums(840, 1226, 1253, 796, 426, 1205, 956, 571, 750, 154, 567, 784, 743, 1013, 1135, 1276, 769, 171, 1029, 1048, 860, 1247, 111, 595, 775, 1174, 982, 1039, 1188, 499)
print(total)

25182

3. Sums in Loop

In [8]:
def sum_two(a,b):
    return(a + b)
    
numbers = [(100, 8), (15, 245), (1945, 54)]
for a,b in numbers:
    print(sum_two(a,b), end=" ")

108 260 1999

In [9]:
def sum_two(a,b):
    return(a + b)
    
numbers = [(607706, 633129), (93167, 508088), (585704, 273510), (41556, 91548), (695208, 178302), (630518, 788307), (80203, 817201), (990525, 293351), (622702, 150426), (888487, 472902), (154072, 919985), (855784, 216532), (739758, 887076), (834782, 728077), (364554, 942268)]
for a,b in numbers:
    print(sum_two(a,b), end=" ")

1240835 601255 859214 133104 873510 1418825 897404 1283876 773128 1361389 1074057 1072316 1626834 1562859 1306822