In [1]:
'hello'

'hello'

In [2]:
"world"

'world'

In [3]:
'This is also a string'

'This is also a string'

In [4]:
'I'm going on a run'

SyntaxError: invalid syntax (<ipython-input-4-0b29964ddaa6>, line 1)

In [5]:
"I'm going on a run"

"I'm going on a run"

In [6]:
print("hello")

hello

In [7]:
print("Hello world one")
print('Hello world two')

Hello world one
Hello world two

In [8]:
print('hello world')

hello world

In [9]:
print('hello \n world')

hello
 world

In [10]:
print('hello \tworld')

hello 	world

In [11]:
len('hello')

5

In [12]:
len('I am')

4

In [13]:
mystring = "Hello World"

In [14]:
mystring

'Hello World'

In [15]:
mystring[0]

'H'

In [16]:
mystring[8]

'r'

In [17]:
mystring[-2]

'l'

In [18]:
mystring[9]

'l'

In [19]:
mystring[-3]

'r'

In [20]:
mystring

'Hello World'

In [21]:
mystring = 'abcdefghijk'

In [22]:
mystring

'abcdefghijk'

In [23]:
mystring[2:]

'cdefghijk'

In [24]:
mystring[:3]

'abc'

In [25]:
mystring[3:6]

'def'

In [26]:
mystring[1:3]

'bc'

In [27]:
mystring

'abcdefghijk'

In [28]:
mystring[::]

'abcdefghijk'

In [29]:
mystring[::2]

'acegik'

mystring[2:7:2]

In [31]:
mystring[::-1]

'kjihgfedcba'

In [32]:
name = "Sam"

In [33]:
name = [0] = 'P'

SyntaxError: can't assign to literal (<ipython-input-33-a0aac7693eb4>, line 1)

In [35]:
# name = [0] = 'P'
last_letters = name[1:]

In [36]:
'P' + last_letters

'Pam'

In [37]:
x = 'Hello World'

In [39]:
x + " it is beautiful outside!"

'Hello World it is beautiful outside!'

In [40]:
x = x + " it is beautiful outside!"

In [41]:
x

'Hello World it is beautiful outside!'

In [42]:
letter = 'z'

In [43]:
letter * 10

'zzzzzzzzzz'

In [44]:
2 + 3

5

In [45]:
'2' + '3'

'23'

In [46]:
x = 'Hello World'

In [48]:
x.upper()

'HELLO WORLD'

In [49]:
x.lower()

'hello world'

In [50]:
x.split()

['Hello', 'World']

In [51]:
x = 'Hi this is a string'

In [52]:
x.split()

['Hi', 'this', 'is', 'a', 'string']

In [53]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

In [54]:
print('hello')

hello

In [55]:
print('This is a sting {}'.format('INSERTED'))

This is a sting INSERTED

In [57]:
print('The {2} {1} {0}'.format('fox', 'brown', 'quick'))

The quick brown fox

In [58]:
print('The {q} {b} {f}'.format(f='fox', b='brown', q='quick'))

The quick brown fox

In [59]:
result = 100/777

In [60]:
result

0.1287001287001287

In [61]:
print("The result was {}".format(result))

The result was 0.1287001287001287

In [62]:
print("The result was {r}".format(r=result))

The result was 0.1287001287001287

In [63]:
print("The result was {r:1.3f}".format(r=result))

The result was 0.129

In [65]:
print("The result was {r:10.3f}".format(r=result))

The result was      0.129

In [66]:
print("The result was {r:10.5f}".format(r=result))

The result was    0.12870

In [67]:
result = 104.12345

In [68]:
print("The result was {r:10.5f}".format(r=result))

The result was  104.12345

In [69]:
print("The result was {r:1.2f}".format(r=result))

The result was 104.12

In [70]:
name = "Jose"

In [73]:
print("Hello, his name is {}".format(name))

Hello, his name is Jose

In [74]:
print(f'Hello, his name is {name}')

Hello, his name is Jose

In [75]:
name = "Sam"
age = 3

In [76]:
print(f'{name} is {age} years old.')

Sam is 3 years old.

In [1]:
my_dict = {'key1': 'value1', 'key2': 'value2'}

In [2]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [3]:
my_dict['key2']

'value2'

In [4]:
prices_lookup = {'apple': 2.99, 'oranges': 1.99, 'milk': 5.80}

In [5]:
prices_lookup['milk']

5.8

In [6]:
prices_lookup['apple']

2.99

In [7]:
d = {'k1': 123, 'k2': [0,1,2], 'k3':{'insidekey':100}}

In [8]:
d['k2']

[0, 1, 2]

In [9]:
d['k3']

{'insidekey': 100}

In [10]:
d['k3']['insidekey']

100

In [11]:
d = {'k1':100, 'k2':200}

In [12]:
d

{'k1': 100, 'k2': 200}

In [13]:
d['k3']=300

In [14]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [16]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [18]:
d.values()

dict_values([100, 200, 300])

In [19]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [20]:
t = (1,2,3)

In [21]:
mylist = [1,2,3]

In [22]:
type(mylist)

list

In [23]:
type(t)

tuple

In [24]:
t

(1, 2, 3)

In [25]:
t = ('one',2)

In [26]:
t

('one', 2)

In [29]:
len(t)

2

In [30]:
len('mylist')

6

In [31]:
len(mylist)

3

In [32]:
t[0]

'one'

In [33]:
t[-1]

2

In [34]:
t = ('a', 'a', 'b')

In [37]:
t.count('a')

2

In [38]:
t.index('a')

0

In [39]:
mylist

[1, 2, 3]

In [40]:
mylist[0]='NEW'

In [41]:
mylist

['NEW', 2, 3]

In [42]:
t

('a', 'a', 'b')

In [43]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [44]:
myset = set()

In [45]:
myset

set()

In [46]:
myset.add(1)

In [47]:
myset

{1}

In [48]:
myset.add(2)

In [49]:
myset

{1, 2}

In [50]:
myset.add(2)

In [51]:
myset

{1, 2}

In [52]:
mylist = [1,1,1,1,1,2,2,2,2,3,3,3,3,3,3,4]

In [53]:
set(mylist)

{1, 2, 3, 4}

In [55]:
set('Mississippi')

{'M', 'i', 'p', 's'}

In [56]:
True

True

In [57]:
False

False

In [58]:
1 > 2

False

In [59]:
1 == 1

True

In [60]:
b = None

In [61]:
b

In [62]:
pwd

'C:\\Temp\\github\\Python3'

In [63]:
cat test.txt

SyntaxError: invalid syntax (<ipython-input-63-2140810f27b8>, line 1)

In [64]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Writing myfile.txt

In [65]:
myfile = open('myfile.txt')

In [66]:
mytextfile = open('00-Python Object and Data Structure Basics/test.txt')

In [67]:
myfile

In [68]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [69]:
mytextfile.read()

'First Line\nSecond Line'

In [71]:
myfile.read()

''

In [72]:
myfile.read()

''

In [74]:
myfile.seek(0)

0

In [75]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [76]:
myfile.read()

''

In [77]:
myfile.seek(0)

0

In [78]:
contents = myfile.read()

In [79]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [80]:
myfile.seek(0)

0

In [81]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

In [82]:
myfile.readlines()

[]

In [83]:
myfile.seek(0)

0

In [84]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

In [85]:
myfile.readlines()

[]

In [86]:
myfile.readlines(0)

[]

In [87]:
myfile.seek(0)

0

In [88]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

In [89]:
pwd

'C:\\Temp\\github\\Python3'

In [90]:
myfile.close()

In [91]:
mytextfile.close()

In [93]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [94]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [95]:
with open('myfile.txt', mode='r') as myfile:
    contents = myfile.read()

In [96]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [97]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Writing my_new_file.txt

In [98]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [99]:
with open('my_new_file.txt',mode='a') as f:
    f.write('FOUR ON FOURTH')

In [100]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH

In [101]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Overwriting my_new_file.txt

In [102]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [103]:
with open('my_new_file.txt',mode='a') as f:
    f.write('\nFOUR ON FOURTH')

In [104]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

FOUR ON FOURTH

In [105]:
with open('dhfjdkshfjdks.txt',mode='w') as f:
    f.write('I CREATED THIS FILE!')

In [106]:
with open('dhfjdkshfjdks.txt',mode='r') as f:
    print(f.read())

I CREATED THIS FILE!

In [107]:
type(3 + 1.5 + 4)

float

In [108]:
type(3 + 4)

int

In [109]:
type(3 + 1.5)

float

In [110]:
25 ** -2

0.0016

In [111]:
25//2

12

In [113]:
25 ** .5

5.0

36 **.5

In [114]:
36**.5

6.0

In [115]:
81**.5

9.0

In [116]:
49**.5

7.0

In [117]:
5**2

25

In [118]:
4**0.5

2.0

In [119]:
list4 = [5,3,4,6,1]
sorted(list4)

[1, 3, 4, 5, 6]