In [1]:
my_tuple = (1, 2, 3)

In [2]:
my_tuple

(1, 2, 3)

In [3]:
t = (1, 2, 3)

In [4]:
mylist = [1, 2, 3]

In [5]:
type(t)

tuple

In [6]:
type(mylist)

list

In [7]:
len(t)

3

In [8]:
t = ('a', 'a', 'b')

In [9]:
t.count('a')

2

In [11]:
t.index('a')

0

In [12]:
t.index('a')

0

In [13]:
t.index('b')

2

In [14]:
t

('a', 'a', 'b')

In [15]:
mylist

[1, 2, 3]

In [16]:
mylist[0] = 'NEW'

In [17]:
mylist

['NEW', 2, 3]

In [18]:
my_tuple

(1, 2, 3)

In [19]:
my_tuple[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [20]:
my_tuple[0]

1