In [1]:
2 == 2

True

In [2]:
2 == 1

False

In [3]:
'hello' == 'bye'

False

In [4]:
'Bye' == 'bye'

False

In [5]:
'2' == 2

False

In [6]:
2.0 == 2

True

In [7]:
3 != 3

False

In [8]:
4 != 5

True

In [9]:
2 > 1

True

In [10]:
1> 2

False

In [11]:
1 < 2

True

In [12]:
2 >= 2

True

Chaining Comparison Operators
and 
or
not

In [13]:
1 < 2 < 3

True

In [14]:
1 < 2 and 2 > 3

False

In [15]:
1 < 2 and 2 < 3

True

In [16]:
'h' == 'h' and 2 == 2

True

In [17]:
1 == 1 or 2 == 2

True

In [18]:
100 == 1 or 2 == 2

True

In [19]:
100 == 1 or 2 == 200

False

In [20]:
1 == 1

True

In [21]:
not(1 == 1)

False

In [22]:
1 != 1

False

In [24]:
if True:
    print('Its True!')

Its True!

In [25]:
hungry = False

if hungry:
    print('FEED ME!')
else:
    print('Im not hungry')

Im not hungry

In [26]:
loc = 'Bank'
if loc == 'Auto Shop':
    print("Cars are cool!")
else:
    print("I do not know much.")

I do not know much.

In [27]:
loc = 'Bank'
if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print("Money is cool!")
else:
    print("I do not know much.")

Money is cool!

In [28]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [29]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [30]:
for num in mylist:
    # Check for even
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [31]:
for num in mylist:
    # Check for even
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [32]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
print( list_sum )

55

In [33]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    print( list_sum )

1
3
6
10
15
21
28
36
45
55

In [34]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [36]:
mystring = 'Hello World'

for _ in mystring:
    print('Cool!')

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

In [37]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

Tuple Unpacking

In [38]:
mylist = [(1,2), (3,4), (5,6), (7,8)]

In [39]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [40]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [41]:
for (a,b) in mylist:
    print(a)

1
3
5
7

In [42]:
for a,b in mylist:
    print(b)

2
4
6
8

In [43]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

In [44]:
for a,b,c in mylist:
    print(b)

2
6
9

In [45]:
d = {'k1':1, 'k2':2,'k3':3}

for item in d:
    print(item)

k1
k2
k3

In [46]:
d = {'k1':1, 'k2':2,'k3':3}

for key,value in d.items():
    print(value)

1
2
3

In [47]:
d = {'k1':1, 'k2':2,'k3':3}

for value in d.values():
    print(value)

1
2
3

While Loops

In [1]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x = x + 1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

In [2]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x += 1
else:
    print("X is not less than 5")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X is not less than 5

In [3]:
x = [1,2,3]

for item in x:
    # comment

SyntaxError: unexpected EOF while parsing (<ipython-input-3-2f2e37c9607a>, line 4)

In [4]:
x = [1,2,3]

for item in x:
    # comment
    pass

print('end of my script')

end of my script

In [5]:
mystring = "Sammy"

for letter in mystring:
    print(letter)

S
a
m
m
y

In [6]:
mystring = "Sammy"

for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [7]:
mystring = "Sammy"

for letter in mystring:
    if letter == 'm':
        break
    print(letter)

S
a

In [8]:
x = 0

while x < 5:
    print(x)
    x += 1

0
1
2
3
4

In [9]:
x = 0

while x < 5:
    if x == 2:
        break
    print(x)
    x += 1

0
1

Useful Operators

In [10]:
mylist = [1,2,3]

In [11]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [12]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [13]:
for num in range(3,10,2):
    print(num)

3
5
7
9

In [14]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [15]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [16]:
index_count = 0
word = 'abcde'
for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [17]:
word = 'abcde'
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [18]:
word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [20]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']

for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [21]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [22]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [23]:
'x' in [1,2,3]

False

In [24]:
'x' in ['x', 'y', 'z']

True

In [25]:
'a' in 'a world'

True

In [26]:
'mykey' in {'mykey':345}

True

In [27]:
d = {'mykey':345}

345 in d.values()

True

In [28]:
mylist = [10,20,30,40,100]

In [29]:
min(mylist)

10

In [30]:
max(mylist)

100

In [31]:
from random import shuffle

In [32]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [35]:
shuffle(mylist)

In [36]:
mylist

[2, 5, 4, 8, 9, 3, 7, 6, 1, 10]

In [37]:
from random import randint

In [38]:
randint(0,100)

0

In [39]:
randint(0,100)

71

In [40]:
input('Enter a number here: ')

Enter a number here: 50

'50'

In [41]:
result = input('Enter a number here: ')

Enter a number here: 59

In [42]:
result

'59'

In [43]:
result = input('Favorite Number: ')

Favorite Number: 30

In [44]:
result

'30'

In [45]:
float(result)

30.0

In [46]:
int(result)

30

LIST COMPREHENSION

In [47]:
mystring = 'hello'

In [48]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [49]:
mylist

['h', 'e', 'l', 'l', 'o']

In [50]:
mylist = [letter for letter in mystring]

In [51]:
mylist

['h', 'e', 'l', 'l', 'o']

In [52]:
mylist = [x for x in 'word']

In [53]:
mylist

['w', 'o', 'r', 'd']

In [54]:
mylist = [qweqwe for qweqwe in 'wordtwo']

In [55]:
mylist

['w', 'o', 'r', 'd', 't', 'w', 'o']

In [56]:
mylist = [x for x in range(0,11)]

In [57]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [58]:
mylist = [num**2 for num in range(0,11)]

In [59]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [62]:
mylist = [x**2 for x in range(0,11) if x%2==0]

In [63]:
mylist

[0, 4, 16, 36, 64, 100]

In [64]:
celsius = [0, 10,20,34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celsius]

In [65]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [66]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)]

In [67]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [68]:
mylist = []

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [69]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [70]:
mylist = [x*y for x in [2,4,6] for y in [100,200,300]]

In [71]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

METHODS AND BUILT-IN OBJECTS

In [1]:
mylist = [1,2,3]

In [2]:
mylist.append(4)

In [3]:
mylist

[1, 2, 3, 4]

In [4]:
mylist.pop()

4

In [5]:
mylist

[1, 2, 3]

In [6]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [12]:
def name_function():
    '''
    DOCSTRING: Information abut the function
    INPUT: no input...
    OUTPUT: Hello....
    '''
    print("Hello")

In [13]:
name_function()

Hello

In [14]:
help(name_function)

Help on function name_function in module __main__:

name_function()
    DOCSTRING: Information abut the function
    INPUT: no input...
    OUTPUT: Hello....

In [15]:
def say_hello():
    print('hello')

In [16]:
say_hello()

hello

In [20]:
def say_hello(name):
    print(f'hello {name}')

In [18]:
say_hello()

TypeError: say_hello() missing 1 required positional argument: 'name'

In [21]:
say_hello('Jose')

hello Jose